<footer>
  <div id=footer-container>
    <section id="connect">
      <p>Connect with me:</p>
      <ul>
        <li>
          <a href="https://github.com/StaphSynth" target="_blank">
            <i class="icon-github-squared social" title="Github" aria-hidden="false"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/david-allen-102290119/" data-proofer-ignore target="_blank">
            <i class="icon-linkedin-squared social" title="LinkedIn" aria-hidden="false"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/feed.xml">
            <i class="icon-rss-squared social" title="RSS feed" aria-hidden="false"></i>
          </a>
        </li>
      </ul>
    </section>

    <section id="licence">
      <ul>
        <li id="ccLogo">
          <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img src="{{ site.url }}/assets/images/cc.png" alt="Creative commons logo" />
          </a>
        </li>
        <li>This site is licensed under a Creative Commons
          <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Attribution-ShareAlike
          </a>
          4.0 International Licence.
        </li>
      </ul>
    </section>
  </div>
</footer>
