<footer>
  <div id=footer-container>
    <div id="connect">
      <p>Connect with me:</p>
      <ul>
        <li>
          <a href="https://github.com/StaphSynth" target="_blank">
            <i class="fa fa-github-square social" aria-hidden="false"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/david-allen-102290119/" data-proofer-ignore target="_blank">
            <i class="fa fa-linkedin-square social" aria-hidden="false"></i>
          </a>
        </li>
        <li>
          <a href="{{ site.url }}/feed.xml">
            <i class="fa fa-rss-square social" aria-hidden="false"></i>
          </a>
        </li>
      </ul>
    </div>

    <div id="licence">
      <ul>
        <li id="ccLogo">
          <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            <img src="{{ site.url }}/assets/images/cc.png" alt="Creative commons logo" />
          </a>
        </li>
        <li>This site is licensed under a Creative Commons
          <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
            Attribution-ShareAlike
          </a>
          4.0 International Licence.
        </li>
      </ul>
    </div>
  </div>
</footer>
