{% comment %}
  For easier insertion of figures with captions into posts.
  Usage: {% include image.html url="/path/to/image" caption="Your description here..." alt="your alt text here" %}
  The alt is optional, if left out, the caption becomes the alt attribute.
{% endcomment %}
<div class="article-figure-container">
  <figure class="article-figure">
    <img
      src="{% if include.url contains "/assets/images/" %}{{ include.url }}{% else %}{{ include.url | prepend: "/assets/images/" }}{% endif %}"
      alt="{% if include.alt %}{{ include.alt }}{% else %}{{ include.caption }}{% endif %}"
    />
    <figcaption>
      {{ include.caption }}
    </figcaption>
  </figure>
</div>
