{% comment %}
  For easier insertion of figures with captions into posts.
  Usage: {% include image.html url="/path/to/image" caption="Your description here..." alt="your alt text here" %}
  The alt is optional, if left out, the caption becomes the alt attribute.
{% endcomment %}
<div class="figureContainer">
  <div class="figure">
    <img class="illustration" src="{% if include.url contains "/img/" %}{{ include.url }}{% else %}{{ include.url | prepend: "/img/" }}{% endif %}" alt="{% if include.alt %}{{ include.alt }}{% else %}{{ include.caption }}{% endif %}">
    <p class="caption">{{ include.caption }}</p>
  </div>
</div>
