{% comment %}Generates a list of two posts for the front page: one from each major site category, then breaks.{% endcomment %}

<ul class="postList">
  {% assign codePost = false %}
  {% assign projectPost = false %}
  {% assign allPosts = site.posts %}
  {% for post in allPosts %}
    {% if codePost == false %}
      {% if post.category == "coding" %}
        {% include articleListItem.html url=post.url img=post.logo title=post.title byline=post.byline %}
        {% assign codePost = true %}
      {% endif %}
    {% endif %}

    {% if projectPost == false %}
      {% if post.category == "projects" %}
        {% include articleListItem.html url=post.url img=post.logo title=post.title byline=post.byline %}
        {% assign projectPost = true %}
      {% endif %}
    {% endif %}

    {% if codePost == true and projectPost == true %}
      {% break %}
    {% endif %}
  {% endfor %}
</ul>
