{% comment %}
Generates a list of two posts for the front page: one from each major site category, then breaks.{% endcomment %}

<ul class="post-list">
  {% assign code_post = false %}
  {% assign project_post = false %}
  {% assign all_posts = site.posts %}

  {% for post in all_posts %}
    {% if code_post == false %}
      {% if post.category == "coding" %}
        {% include article-list-item.html url=post.url logo=post.logo title=post.title byline=post.byline %}
        {% assign code_post = true %}
      {% endif %}
    {% endif %}

    {% if project_post == false %}
      {% if post.category == "projects" %}
        {% include article-list-item.html url=post.url logo=post.logo title=post.title byline=post.byline %}
        {% assign project_post = true %}
      {% endif %}
    {% endif %}

    {% if code_post == true and project_post == true %}
      {% break %}
    {% endif %}
  {% endfor %}
</ul>
