---
---

@use "base";
@use "fonts";
@use "colours";
@use "syntax";

/*==================================================
GENERAL
===================================================*/

img {
  max-width: 100%;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

#noscript {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.125rem;
}

#noscript a, footer a {
  text-decoration: underline;
}

#page-wrapper {
  min-height: 100%;
  position: relative;
}

#content-wrapper {
  padding-bottom: 210px; /*Must be equal to footer height + footer border (5px)*/
}


/*==================================================
MASTHEAD
===================================================*/

header {
  box-shadow: 0px 4px 8px #000;
}

#masthead {
  background-image: url("../images/banner1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#masthead h1 {
  text-align: center;
  font-size: 2.25rem;
  padding: 1rem;
  text-shadow: 2px 2px 3px #000;
}

/*Produce the 'faded' effect on the background image so the heading is easier to read*/
#heading {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}



/*==================================================
NAVIGATION
===================================================*/

.menu-content a {
  display: block;
  padding: 1em;
  transition: background-color 0.4s ease-out;
}

.menu-container {
  overflow-y: hidden;
  max-height: 200px;
  transition-property: all;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
}

.menu-content {
  border-left: solid 0.75rem transparent;
  border-right: solid 0.75rem transparent;
}

.menu-closed {
  max-height: 0;
}

.menu-content li {
  border-top: solid 1px #444;
}

/*Mobile drop-down button*/
#nav-icon {
  color: #ddd;
  border: none;
  padding: 1em;
  width: 100%;
  text-align: left;
  outline: none;
  font-size: 1rem;
}

#nav-icon:hover {
  outline: none!important;
  cursor: pointer;
}

.rotate-180 {
  display: inline-block;
  transform: rotate(180deg);
}

/*==================================================
MAIN CONTENT
===================================================*/

/*-------------------
General content style
--------------------*/

#article {
  text-align: center; /*To centre child divs, not for the text which is set to justify*/
   margin: 1.5rem 2.5%;
  max-width: 1024px;
  padding: 3%;
}

h2, h3, h4 {
  text-shadow: 2px 2px 4px #000;
}

h3 a {
  text-decoration: underline;
}

.article-header {
  margin-bottom: 2rem;
}

#article ul {
  list-style: disc;
  margin-left: 1rem;
}

#article ol {
  list-style: decimal;
  margin-left: 1rem;
}

#article p,
#article li,
#article figcaption {
  line-height: 1.33rem;
  text-align: left;
  margin: 1.5rem 0;
}

#article li {
  padding: 0.25rem 0;
}

p i,
figcaption i {
  font-style: italic;
}

p strong,
figcaption strong {
  font-weight: bold;
}

#article p a:hover,
#article figcaption a:hover {
  text-decoration: underline;
}

#article h2 {
  font-size: 1.25rem;
  text-align: left;
}

#article h3 {
  font-size: 1.125em;
  margin-top: 2rem;
  text-align: left;
}

#article h4 {
  font-size: 1em;
  margin-top: 1.25rem;
  text-align: left;
}

#article .post-title h3 {
  font-size: 1em;
  padding: 0;
}

#article .post-list li {
  margin: 0;
  list-style: none;
  padding: 0;
}

/*-------------------
Tags and post meta-data
--------------------*/

#article .post-data {
  list-style: none;
  font-style: italic;
  margin: 0.5rem 0;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

#article .post-data li {
  padding: 0;
  margin: 0;
}

#article .post-data .fa {
  vertical-align: middle;
}

#article .tags {
  text-align: left;
  line-height: 1.5rem;
}

#article .tags a:hover {
  color: #3acfd5;
  text-decoration: underline;
}

#tags {
  display: flex;
  flex-direction: column;
}

  #article .tags {
    margin: 0.5rem 0 0;
  }

  #article .tags .tag {
    list-style: none;
    margin: 0;
  }

#article .entry-date {
  color: #999;
}

#article .post-data p {
  margin: 0;
  padding: 3px 0;
}

/*-------------------
Figures
--------------------*/

.article-figure-container {
  display: inline-block;
  margin: 0.5rem 0;
}

.article-figure {
  display: table;
}

#article .article-figure figcaption {
  display: table-caption;
  margin: 0 7px 6px;
  caption-side: bottom;
  background-color: #444;
  white-space: normal;
}

/*-------------------
Post list generator
styling
--------------------*/

#article p.byline {
  padding: 0.5rem 0 0;
  text-align: left;
  text-shadow: none;
  margin: 0;
}

.article-list-item a {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.article-list-item a:hover h3 {
  text-decoration: underline;
}

#article .article-list-item h3 {
  margin: 0;
}

.thumb-container {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.post-title {
  -ms-flex-negative: 100;
  flex-shrink: 100;
  padding-left: 0.75rem;
}

.byline, .post-title h3 {
  padding: 0;
}

.thumb-container img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/*-------------------
Block quotes, code,
emphasis, etc
--------------------*/

/*code blocks*/
.highlighter-rouge {
  background-color: #222;
  color: #fff;
}

/*inline code*/
p code.highlighter-rouge {
  border-radius: 3px;
  padding: 1px 2px;
  background-color: #444;
}

blockquote {
  background-color: #444;
  color: #ddd;
  margin-left: 1rem;
  padding: 1rem;
}

#article blockquote p {
  padding: 0;
}

#article div.highlighter-rouge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin: 1rem 0;
}

#article pre {
  line-height: 1.25rem;
  text-align: left;
  margin-left: 0;
  padding: 0.5rem;
}

#article code {
  font-size: 1rem;
}

em {
  font-style: italic;
}

hr {
  margin: 1.25rem 0 1.25rem;
}

/*-------------------
Github link at end
of code articles
--------------------*/

.git-link-container {
  margin-top: 1rem;
}

.git-link {
  display: inline-block;
  margin: 0 auto;
}

.git-link .github-logo {
  padding-right: 0.5rem;
  margin-left: 0;
  font-size: 2rem!important;
}

.git-link:hover .github-logo {
  text-shadow: 0px 0px 2px  #ddd;
}

.git-link:hover a {
  text-decoration: underline;
}



/*==================================================
FOOTER
===================================================*/

footer {
  width: 100%;
  height: 205px;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px -4px 8px #000;
}

#footer-container {
  padding: 0 0.75rem;
}

footer section {
  padding: 0.75rem 1rem;
}

footer ul li {
  text-align: center;
}

#connect {
  border-bottom: solid 1px #444;
  text-align: center;
}

#connect ul {
  padding-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/*Social icons padding*/
#connect ul li~li {
  padding-left: 1rem;
}

#licence {
  font-size: 0.75rem;
}

#ccLogo {
  margin-bottom: 0.75rem;
}

.social {
  font-size: 3rem!important;
  vertical-align: middle;
}


/*==================================================
RESPONSIVE CSS
===================================================*/

/*-----------------------------------
Small tablets >=500px width
------------------------------------*/

@media screen and (min-width: 500px) {

  /*********************
  Masthead
  **********************/
  #masthead h1 {
    font-size: 3em;
  }

  /*********************
  Nav
  **********************/
  .menu-content {
    border-top: solid 0.5rem transparent;
    border-bottom: solid 0.5rem transparent;
  }

  .menu-content li {
    display: inline-block;
    border-top: none;
    margin-right: -5px; /*Deals with unwanted space between nav elements*/
  }

  /*Produce the single line border between (and only between) the nav elements*/
  .menu-content li~li {
    border-left: solid 1px #444;
  }

  /*********************
  Main content
  **********************/

  #article .post-data .fa {
    font-size: 1.5rem;
  }

  #article p,
  #article li {
    line-height: 1.33em;
  }

  .post-list li img {
    display: inline-block;
  }

  .thumb-container img {
    height: 70px;
    width: 70px;
  }

  #article h2 {
    font-size: 1.5rem;
  }

  #article h3 {
    font-size: 1.25em;
  }

  #article .post-title h3 {
    font-size: 1.125em;
  }

  /*---Tags---*/

  #tags {
    flex-flow: row wrap;
  }
  #tags li {
    flex: 1 0 50%;
    max-width: 50%;
  }
} /*End small tablet 500px query*/



/*-----------------------------------
Larger tablets >=800px width
------------------------------------*/

@media screen and (min-width: 800px) {

  /*********************
  General
  **********************/

  #content-wrapper {
    padding-bottom: 135px; /*Must == footer height + footer border width (==5px)*/
  }

  /*********************
  Masthead
  **********************/
  #masthead h1 {
    font-size: 4rem;
    padding: 2.25rem 0;
  }

  /*********************
  Navigation
  **********************/

  #nav-icon {
    display: none;
  }

  .menu-closed {
    max-height: 100%;
  }

  .menu-content {
    text-align: center;
  }

  .menu-content li a {
    padding: 0.66rem 1.5rem;
    font-size: 1.125rem;
  }

  /*********************
  Main content
  **********************/

  #article {
    padding: 2.5%;
  }

  .article-list-item {
    margin: 1rem 0;
  }

  #article h2 {
    font-size: 1.75em;
  }

  #article h3 {
    font-size: 1.5em;
  }

  #article h4 {
    font-size: 1.125em;
  }

  #article .post-data p {
    padding: 0;
  }

  /*---tags---*/
  #tags li {
    flex: 1 0 33.33%;
    max-width: 33.33%;
  }

  /*********************
  Footer
  **********************/

  footer {
    height: 130px;
  }

  #footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: solid 1rem transparent;
    padding: 0 2.5%;
  }

  #licence {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
    border-right: solid 1px #444;
  }

  #licence ul li {
    margin: 0.5rem 0;
  }

  #connect {
    border: none;
  }

  .social {
    font-size: 2rem!important;
  }

  /*Social icons padding*/
  #connect ul li~li {
    padding-left: 0.75rem;
  }

} /*End large tablet query*/


/*-----------------------------------
Desktop >=1100px width
------------------------------------*/

@media screen and (min-width: 1100px){

  /*********************
  Masthead
  **********************/

  #heading h1 {
    font-size: 4rem;
    padding: 4rem 0;
  }

  /*********************
  Navigation
  **********************/

  .menu-content li {
    padding: 0 3rem;
  }

  .menu-content li a {
    padding: 0.5rem;
    font-size: 1.25rem;
  }

  /*********************
  Main content
  **********************/

  #article .post-data {
    margin-bottom: 0.5rem;
  }

  #article {
    padding: 1.5%;
    margin-left: auto;
    margin-right: auto;
  }

  #article p,
  #article li {
    line-height: 1.33em;
    font-size: 1.125rem;
  }

  #article h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.125em;
  }

  .byline {
    padding: 0;
    line-height: 1;
  }

}/*End desktop res query*/
