<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link type="text/css" rel="stylesheet" href="../css/main.css">
    <link type="text/javascript" href="http://code.jquery.com/jquery-1.11.0.min.js">
    <link type="text/javascript" href="../js/synth.js">
    <script type="text/javascript" src="https://use.fontawesome.com/0523816ffe.js"></script>
  </head>
  <body>
    <header>
      <noscript><div id="noscript">JavaScript is turned off. Please <a href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> for full use of this site.</div></noscript>
      <div id="masthead">
        <a href="/"><h1>Synthetase Does</h1></a>
      </div>
      <nav id="mainMenu">
        <div id="navIcon">
          <a href="#"><i class="fa fa-bars"></i> Menu</a>
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/projects">Projects &#9662;</a>
            <ul>
              <li><a href="/projects/coding">Coding</a></li>
              <li><a href="/projects/electronics">Electronics</a></li>
              <li><a href="/projects/brewing">Brewing</a></li>
            </ul>
          </li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav><!-- /mainMenu -->
    </header>
    <div id="mainContent">
      {{ content }}
    </div>
  </body>
  <footer>
    <p>Footer placeholder text</p>
  </footer>

  <!--Loads non-critical JavaScript after the page has been rendered-->
  <script type="text/javascript">
    /*function loadScriptPostRender() {
      var element = document.createElement("script");
      element.src = "http://code.jquery.com/jquery-1.11.0.min.js";
      element.type = "text/javascript";
      element.async = false;
      document.body.appendChild(element);

      element = document.createElement("script");
      element.src = "../js/synth.js";
      element.type = "text/javascript";
      element.async = false;
      document.body.appendChild(element);
    }
    if (window.addEventListener)
      window.addEventListener("load", loadScriptPostRender, false);
    else if (window.attachEvent)
      window.attachEvent("onload", loadScriptPostRender);
    else window.onload = loadScriptPostRender;*/
  </script>
</html>
