<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {% if page.url == "/" %}
        {{ site.title }}
      {% else %}
        {{ page.title | append: " | " | append: site.title }}
      {% endif %}
    </title>
    <link rel="alternate" type="application/rss+xml" title="Syntheta.se RSS" href="/feed.xml" />
    <link type="text/css" rel="stylesheet" href="/assets/css/main.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/syntax.css" />
    <link type="text/css" rel="stylesheet" href="/assets/css/icon_set.css"
    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16" />
    {% seo title=false %}
  </head>

  <body>
    <div id="page-wrapper">
      {% include main-header.html %}
      <div id="content-wrapper">
        <section id="article">
          {{ content }}
        </section>
      </div>
      {% include footer.html %}
    </div>
  </body>

  <script type="text/javascript">
    //Loads non-render-critical JavaScript after the page has been rendered
    (() => {
      const loadScriptPostRender = () => {
        const urls = [
          '/assets/javascript/main.js'
        ];

        urls.forEach(url => {
          const script = document.createElement('script');
          script.src = url;
          script.type = 'text/javascript';
          script.async = false;
          document.body.appendChild(script);
        });
      }

      window.addEventListener('load', loadScriptPostRender);
    })();
  </script>
</html>
