<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.url == "/" %}
              Syntheta.se
            {% else %}
              {{ page.title | append: " | Syntheta.se" }}
            {% endif %}
    </title>
    <script type="text/javascript" src="https://use.fontawesome.com/0523816ffe.js"></script>
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/synth.js"></script>-->
  </head>
  <body>
    <div id="pageWrapper">
      <header>
        <noscript><div id="noscript">JavaScript is turned off. Please <a href="http://enable-javascript.com/" target="_blank">enable JavaScript</a> for full use of this site.</div></noscript>
        <div id="masthead">
          <div id="heading">
            <a href="/"><h1>Synthetase's World of Nerd</h1></a>
          </div>
        </div>
        <nav id="mainMenu">
          <div id="navIcon">
            <a href="#"><i class="fa fa-bars"></i></a>
          </div>
          <ul>
            {% assign navPages = site.pages | sort: 'navId' %}
            {% for i in navPages %}
              {% if i.navId %}
                <li><a href="{{ i.url }}"
                {% if page.url contains i.url %}
                  {% if i.url != "/" and page.url.size > 1 %}
                    class="selected"
                  {% endif %}
                  {% if i.url == page.url %}
                    class="selected"
                  {% endif %}
                {% endif %}
                >{{ i.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </nav><!-- /mainMenu -->
      </header>
      <div id="contentWrapper">
        <div id="article">
          {{ content }}
        </div>
      </div><!-- /contentWrapper-->
      <footer>
        <div id=footerContainer>
          <div id="connect">
            <ul>
              <li><p>Connect with me:</p></li>
              <li><a href="https://github.com/StaphSynth" target="_blank"><i class="fa fa-github-square social" aria-hidden="true"></i></a> <a href="https://www.linkedin.com/in/david-allen-102290119?trk=nav_responsive_tab_profile" target="_blank"><i class="fa fa-linkedin-square social" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <div id="licence">
            <ul>
              <li id="ccLogo"><a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank"><img src="{{ site.url }}/img/cc.png" alt="Creative commons logo"></a></li>
              <li>This site is licensed under a Creative Commons <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">Attribution-ShareAlike</a> 4.0 International Licence.</li>
            </ul>
          </div>
        </div> <!--/footerContainer -->
      </footer>
    </div> <!--/pageWrapper-->
  </body>
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ site.url }}/js/synth.js"></script>
    
  <!--Loads non-render-critical JavaScript after the page has been rendered-->
  <!--<script type="text/javascript">
    function loadScriptPostRender() {
      var element = document.createElement("script");
      element.src = "https://code.jquery.com/jquery-1.11.0.min.js";
      element.type = "text/javascript";
      element.async = false;
      document.body.appendChild(element);

      element = document.createElement("script");
      element.src = "{{ site.url }}/js/synth.js";
      element.type = "text/javascript";
      element.async = false;
      document.body.appendChild(element);
    }
    if (window.addEventListener)
      window.addEventListener("load", loadScriptPostRender, false);
    else if (window.attachEvent)
      window.attachEvent("onload", loadScriptPostRender);
    else window.onload = loadScriptPostRender;
  </script>-->
</html>
