<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title /\}\}/</title>
  </head>
  <body>
    <div id="header">
      <a href="/"><h1>Syntheta.se</h1></a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/coding">Coding</a></li>
        <li><a href="/electronics">Electronics</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div id="main">
      {{ content /\}\}/
    </div>
  </body>
  <footer>
    <p>This is a footer...</p>
  </footer>
</html>
